
.list-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background-color: white;
    padding: 2px 20px;
    border-radius: 50px;
}

.search-box select {
    width: 25%;
    padding: 5px;
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: #f9f9f9;
  }

.search-box img {
    width: 20px;
    cursor: pointer;
    border-radius: 50%;
}

.search-box input {
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}

.list-box {
    width: 100%;
    overflow-y: scroll;
    max-height: 67vh;
}

.list-box::-webkit-scrollbar {
    display: none;
}

.list-heading {
    width: 90%;
    margin: 20px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list-heading h2 {
    color: white;
    font-size: 32px;
}

.list-filter {
    display: flex;
    gap: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.list-table {
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0);
    padding: 20px;
    border-radius: 5px;
}

.list-table table,
.list-table th,
.list-table td {
    border: 1px solid rgb(255, 204, 198);
}

.list-table th {
    background-color: rgb(255, 204, 198);
    color: black;
    padding: 5px 10px; 
}

.list-table td {
    color: white;
    padding: 1px 10px; 
}

.list-table th,
.list-table td {
    width: 100vh;
    text-align: start;
    font-size: 16px;
}

.update-button button {
    padding: 8px 15px;
    background-color: rgb(255, 204, 198);
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.update-button button:hover {
    background-color: black;
    color: rgb(255, 204, 198);
}


.page {
    background: transparent;
    border: 2px solid rgb(255, 204, 198);
    color: rgb(255, 204, 198);
    padding: 5px 20px;
    font-weight: bold;
}

.page:hover {
    background-color: black;
}

.page.active {
    background-color: rgb(255, 204, 198);
    color: black;
    font-weight: bold;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 1200px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:1025px) {
    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .list-box {
        max-width: 73vh;
    }
}

@media (max-width:767px) {
    .list-container {
        max-height: 100vh;
    }
    .search-box {
        margin: 50px 10px;
        width: 90%;
        padding: 2px 10px;
    }
    .search-box select {
        width: 40%;
        font-size: 10px;
    }
    .list-box {
        max-width: 45vh;
        max-height: 45vh;
    }
    .list-heading {
        flex-direction: column;
        margin: 0px 0px 20px 0px;
    }
    .list-heading h2 {
        font-size: 28px;
    }
    .list-heading p {
        font-size: 14px;
    }
    .search-box div {
        gap: 5px;
    }
    .main-bottom {
        position: relative;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    .list-table th,
    .list-table td {
        font-size: 12px;
        padding: 1px 8px; 
    }
}