.main-container {
    position: relative;
    max-width: 1300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-heading {
    margin: 10px;
    color: rgb(241, 241, 241);
    padding: 2vh;
    font-size: 22px;
}

.profile-picture {
    margin: 5px;
}

.profile-picture img {
    width: 150px;
}

.info-container {
    padding: 2vh;
    color: white;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
}

.info-div {
    width: 50%;
}

.profile-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2vh;
}

.f1 {
    padding: 1px;
    width: 30%;
    font-size: 16px;
    font-weight: bold;
}

.f2 {
    padding: 1px;
    width: 65%;
    font-size: 18px;
    font-weight: bold;
    color: aqua;
}

.edit-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.edit-button button {
    width: 20%;
    padding: 10px;
    border-radius: 20px;
    color: white;
    background: -webkit-linear-gradient(16deg,#ff5546,#4b90ff);
    border: 2px solid rgba(255, 255, 255, 0);
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.edit-button button img {
    height: 35px;
}

.edit-button button:hover {
    background: pink;
    border: 2px solid rgb(255, 149, 167);
    color: black;
}

@media (max-width: 699px) {

    .profile-picture img{
        width: 100px;
    }
    .profile-field {
        padding: 10px;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .f1 {
        width: 90%;
    }
    .f2 {
        width: 90%;
    }
}

@media (max-width: 1000px) {
    .profile-picture img{
        width: 90px;
    }
    .info-container {
        flex-direction: column;
        align-items: center;
    }
    .info-div {
        width: 90%;
    }
    .edit-button button {
        width: 30%;
    }
    .edit-button button img {
        height: 20px;
    }
}
